.bg-lightbrown {
    background-color: #D2B48C; 
    color: #000000; 
   
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px; 
    width: auto;
    margin-right: 20px; 
}

.textos-header {
    text-align: center;
}

.titulo {
    font-size: 46px;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

.subtitulo {
    font-size: 28px;
    font-family: 'Cedarville Cursive', cursive;
}

.nav-custom {
    display: flex;
    justify-content: center;
}
.nav-link {
    color: #333;
}
.nav-link:hover {
    text-decoration: none;
}

.divisor {
    color: grey;
    width: 78%;
    margin: 6px auto !important;


}

.seccion {
    text-align: center;
    padding-bottom: 23px;
    padding-top: 25px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    
    
}

.nosotros {
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color:black ;
    padding: 35px 10px 6px 10px;
    margin-left: 50px;
    margin-right: 50px;

}

.form-row .col-4 { 
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
        
}



.center-form {
    width: 100%; 
    margin: 0 auto; 
    display: block;
}

.required {
    color: red; 
    display: inline-block; 
    margin-left: 5px; 
    vertical-align: middle; 
}



input[type="text"],

input[type="email"],

input[type="number"],

select,

textarea {
  width: 100%;
  margin: 1px 0px 1px 0px;
  padding: 2px 6px;
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid burlywood;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #d1a573;
  color: white;
  cursor: pointer;
  align-self: center;
    
}


input[type="submit"]:hover {
    background-color:brown;
    
}


 
#titulo-lista {
    padding: 10px;
    font-weight: lighter;
    background-color: #102C57;
    color: #FEFAF6;
    font-family: "Montserrat", sans-serif;
    
}
.contenedor {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    border: none;
    width: 25%;
    position: relative;  
    cursor: pointer;
    margin-bottom: 25px;
}

.imagen {
    position: relative;
    width: 100%;
    height: auto;
}

.imagen img{
    width: 100%;
    display: block;
}

.imagen img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.card:hover .imagen img:last-child {
    opacity: 1;
}

.card p{
    text-align: center;
}

.titulo-producto{
    margin: 10px 20px;
    font-family: Cambria;
}

.precio {
    letter-spacing: 1px;
    font-weight: bold;
    
}
/* Media Queries */
@media (max-width: 1200px) {
    .card {
        width: 33.33%; /* 3 tarjetas por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .card {
        width: 50%; /* 2 tarjetas por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* 1 tarjeta por fila en pantallas muy pequeñas */
    }
}



 /* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1199px) {
    .header-custom {
        padding: 30px;
    }

    .titulo {
        font-size: 36px;
    }

    .subtitulo {
        font-size: 24px;
    }

    .form-row .col-4 {
        max-width: 300px;
        margin: 0 auto;
    }
}

/* Estilos para celulares */
@media (max-width: 767px) {
    .header-custom {
        padding: 20px;
    }

    .titulo {
        font-size: 28px;
    }

    .subtitulo {
        font-size: 20px;
    }

    .form-row .col-4 {
        max-width: 100%;
        margin: 0 auto;
    }

    .form-check {
        width: 100%;
        text-align: left;
    }
}


/* Estilos para PC de escritorio */
@media (min-width: 1200px) {
    .header-custom {
        padding: 40px;
    }

    .titulo {
        font-size: 46px;
    }

    .subtitulo {
        font-size: 28px;
    }

    .form-row .col-4 {
        max-width: 400px;
        margin: 0 auto;
    }
}


/* CARRUSEL */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }


  /* BUSCADOR */

  #buscarProd {
    position: absolute;
    right: 0; 
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }