{% extends 'base.html' %}

{% block content %}
<body>
    <section id="Nosotros" style="background-color: #f4f4f9; padding: 40px 0;">
        <div class="container" style="max-width: 1200px; margin: auto; padding: 20px;">
            <h3 class="seccion" style="text-align: center; color: #333; font-size: 24px; font-weight: 600;">Sobre nosotros</h3>
            <div class="nosotros" style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 20px;">
                <div style="flex: 1 1 100%; max-width: 100%; padding: 10px; box-sizing: border-box;">
                    <p style="font-size: 18px; line-height: 1.6; color: #555;">
                        Somos <b><i>Estilo Vivo</i></b>, una mueblería donde el diseño y la calidad son los pilares de nuestra empresa. Nos enorgullecemos de ofrecer productos hechos con los mejores materiales y un cuidado excepcional por los detalles. Nuestro objetivo es ayudarte a transformar los espacios, para que inspiren y reflejen tu buen gusto y estilo personal...
                    </p>
                </div>
                <div style="flex: 1 1 100%; max-width: 100%; padding: 10px; box-sizing: border-box;">
                    <p style="font-size: 18px; color: #555;"><b>Nos encontrás en:</b></p>
                    <p style="font-size: 16px; color: #777;">Dirección: Avenida Los Andes 999, Córdoba Capital, Argentina.</p>
                    <p style="font-size: 16px; color: #777;">Teléfono: +54 9 1234 5678</p>
                    <p style="font-size: 16px; color: #777;">Email: contacto@estilovivo.com.ar</p>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
